.App {
  display: flex;
  flex-direction: row;
}

.movies-data {
  display: flex;
  flex-direction: row;
  margin-left: 250px;
}

table {
  border-spacing: 0px;
}

th {
  text-align: center;
  padding: 50px 50px 50px 50px;
  margin: 10px 10px 10px 10px;
  border-bottom: 2px solid grey;
}

td {
  text-align: center;
  /* padding: 5px 60px 5px 25px; */
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border-bottom: 2px solid grey;
}

button {
  margin-top: 10px;
}

.side-genre {
  border: 1px solid grey;
  height: 175px;
  width: 150px;
}

.side-genre p {
  text-align: center;
}
